@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Index</h1>

<div class="main bg-opacity-10 ps-4 pe-4"></div> 


@section Scripts{
    <script src="~/js/travel.js"></script>
    <script>
        console.log(spots);
        
        const arr = spots.CommonFormat.Section;

        const main = document.querySelector('.main');

        let str = arr.map((item, index) => {
            let imgs = item.file.img;

            let imgUrl;
            if (Array.isArray(imgs)){
                let base = 1 / imgs.length;
                let r = Math.floor(Math.random() / base);
                imgUrl = imgs[r].text;
            } else {
                imgUrl = imgs.text;
            }

            return `
                      <div class="col">
                        <div class="card">
                          <img src="${imgUrl}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">${item.stitle}</h5>
                            <p class="card-text">${item.xbody.slice(0,93)}.....</p>
                          </div>
                        </div>
                      </div>`
        }).join('');

        const node = document.createElement('div');
        node.classList.add('row', 'row-cols-2', 'row-cols-md-4', 'g-4');
        node.innerHTML = str;
        main.append(node);

    </script>
}