
@{
    ViewData["Title"] = "ApiTest";
}

<h1>ApiTest</h1>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <input type="text" id="keyword" class="form-control" />
    </div>
    <div class="btn btn-primary col-2" id="btn1">API 測試</div>
    <div class="col-2"></div>
</div>

@section Scripts{
    <script>
        const keyword = document.querySelector('#keyword');

        const btn1 = document.querySelector('#btn1');
        btn1.addEventListener('click', async() => {
            const url = `@Url.Content("https://localhost:7105/api/Addresses/keyword/${keyword.value}")`
            const response = await fetch(url)
            const data = await response.json();
            console.log(data);
        })
    </script>
}

